<div align="center"><p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task.Task %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.Category %>
</p>

<p>
  <strong>Due:</strong>
  <%= @task.Due %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @task.is_completed %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %></div align="center">
